.claseprueba{
    color:rgb(224, 129, 65);
    font-family:'Roboto', sans-serif;
}
h1{
    color:rgb(184, 100, 44);
    font-family:'Roboto', sans-serif;
    border: 50px;
    text-align: center;
    margin: 10px;
    border: 10px;
    padding: 10px;
}
body{
    background-color: wheat;
}